h1,p,body,h2{
    margin:0px;
}

body{
    background-color: #999;
}

.clearfix::after{
    content:' ';
    display: block;
    clear:both;
}

.wrapper{
    width:900px;
    margin: 150px auto;
}

.sidebar,
.contents{
    border-radius: 3px;
    background-color: white;
}

.sidebar{
    float: right;
    width: 250px;
    margin-left: 20px;
    text-align:center;
    color: #555;
}

.sidebar-section{
    margin:20px 0;
}

.contents{
    padding: 30px;
    overflow: hidden;
}

.cover{
    width: 100%;
    margin-top:-100px;
}

.title{
    color:#6797b2;
    line-height:1;
}

.price{
    color:#6797b2;
    font-size:30px;
}

.price::before{
    content:'$';
    font-size:0.7em;
    margin-left: 0.2em;
    vertical-align: middle;
    opacity: 0.5;
}

.button{
    background-color:#6797b2;
    color:white;
    display:block;
    margin:5px 20px;
    padding: 12px 0 10px 0;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
}

.button.share{
    background-color:#aaa;
}

.section{
    margin-bottom:20px;
}

.section:last-child{
    margin-bottom:0;
}

.section h2{
    border-bottom: 2px solid #ddd;
    color:#6797b2;
    margin-bottom:20px;
}

.message{
   
    margin-bottom: 10px;
    overflow: hidden;
}

.message:last-child{
    margin-bottom: 0;
}

.message.answer .message-profile{
    float:right;
}

.message-profile{
    float: left;
}

.message-profile::before,
.message-profile::after,
.message-profile img{
    vertical-align: middle;
}

.message-profile img{
    border-radius: 50%;
}

.message.answer .message-profile::before,
.message.ask .message-profile::after{
    content:' ';
    width:0;
    height: 0;
    display:inline-block;
    border-width:10px;
    border-style: solid;
}

.message.answer .message-profile::before{
    border-color: transparent transparent transparent #ddd;
}

.message.ask .message-profile::after{
    border-color: transparent #ddd transparent transparent;
}

.message-contents{
    overflow: hidden;
    background-color: #ddd;
    padding:20px;
}

.star::before,
.star{
    display: inline-block;
    width:150px;
    height: 30px;
    background-image: url(images/star-sprite.png);
    overflow: hidden;
}

.star::before{
    content: ' ';
    display: block;
    background-position:left bottom;
    width:0;
}

.star.s01::before{width:20%;}