
h1{
    margin: 30px auto;
    color: orange;
    padding: 2px;
    border-bottom: 5px solid orange;
    width: 110px;/*텍스트 크기에 맞추는 것은 다음시간*/
}

body{
    background-image: url(images/orange-bg.jpg);
}        

div{
    background-color:white;
    width: 400px;
    /*height: auto;  유지보수의가능성을남겨둠*/
    /*padding:50px;  boder 축약형과 동일*/
    /*margin-left: auto; 목록들을 가운데 정렬 하였음.*/
    /*margin-right:auto;*/
    padding: 30px 50px;
    margin: 50px auto;
    /*
    margin: 30px auto 50px;
            상   좌우  하
    margin: 20px 30px 4opx 50px;
            상    우   하   좌
    border-width:10px;
    border-style:solid;
    border-color: red;
    */
   border: 10px solid orange;
   border-radius: 50px; 
}

ul{
    
    width: 100px;
    margin: 30px auto;
    padding-top:30px;/*ul에 디폴트로 있는 padding과의 좌우 충돌 방지*/
    padding-bottom:30px; 
}