/*css reset*/
body,p,ul,h1,h2,h3{
    margin:0;
    padding:0;
}

li{
   list-style-type: none;
}

a{
    text-decoration: none;
    color:inherit;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size:100%;
}

/*layout*/
/*활요도가 높은 wrapper sidebar main*/
.l_wrapper{
    max-width:960px;
    margin:0 auto;
    padding:0 20px;
}

.l_sidebar{
    float:right;
    margin-left: 20px;
    width:300px;
}

.l_main{
    overflow: hidden;
}

/*Buttons*/
.button{
    background-color: #333;
    color:white;
    padding:0.5em 1em;
    display:inline-block;
}

.button_block{
    display: block;
    text-align: center;
}

.button_important{
    background-color: orangered;
}

/*Componets*/

.list li{
    margin-bottom:0.5em;
}

.list li:before{
   
    content:' ';
    width:5px;
    height: 5px;
    background-color: #888;
    border-radius: 50%;
    margin-right:0.4em;
    display: inline-block;
}

.mb_5{
    margin-bottom:5px;
}

body{
    background-image:url(images/bg.png);
    color:#999;
}

.contents{
    padding: 40px 0;
}

/* 부모자식간 마진겹침현상 최소화 */
.clearfix::before,
.clearfix::after{
    content:' ';
    display:table;
}

.checkout{
    background-color: #222;
}

.checkout-section{
    margin:20px;
}

.video{
    padding-top:56.25%;/*너비기준으로 잡히는 높이 , 정사각형*/
    position: relative;
}

.video-iframe{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

.price{
    font-size: 40px;
    font-weight: bold;
    color:dodgerblue;
}

.price-discount{
    font-weight: normal;
    color:#999;
    font-size:0.5em;
    position: relative;
}

.price-discount::before{
    content:' ';
    position: absolute;
    left:0;
    right: 0;
    height: 2px;
    bottom:0.6em;
    opacity: 0.5;
    background-color: white;
}

.course-cover{
    background-size: cover;
    background-position: center;
    background-image: url(images/cover.png);
    padding:30px;
}

.course-creater{
    float:right;
    margin-left:10px;
    width:100px;
    text-align: right;
}

.course-creater-logo{
    width:50px;
    border-radius: 50px;
}

.course-title{
    overflow: hidden;
}

.course-title h1{
    color:white;
    font-size:50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1;
}

.course-title p{
    margin-bottom: 20px;
}

.course-section{
    margin:20px 0;
}

.course-section h2{
    font-size: 30px;
    color:red;
    border-bottom: 2px solid;
    line-height: 1.6;
    margin-bottom: 20px;
}

.course-section-contents{
}

.curriculum{
    
}

.curriculum-item{
    background-color:#222;
    margin-bottom: 10px;
}

.curriculum-item h3{
    margin:10px 20px;
}

.curriculum-item:last-child{
    margin-bottom: 0;
}

.curriculum-item-list{
    background-color: #111;
    margin:5px;
    padding:20px 0;
}

.curriculum-link{
    background-color: rgba(255, 255, 255, 0.01);
    display:block;
    margin:5px 20px;
    padding:10px;
}

.curriculum-link:hover{
    color:white;
}

.curriculum-link::before{
    content:' ';
    display:inline-block;
    width:0;
    height: 0;
    border-width: 5px;
    border-style:solid;
    border-color: transparent transparent transparent currentColor;
}


.curriculum-link span{
    float:right;
    font-size: 10px;

}

.star{
    display: inline-block;
}

.star:before,
.star{
    content:' ';
    background-image: url(images/star-sprite.png);
    width:150px;
    height: 30px;
    overflow: hidden;
}

.star:before {
    width: 0;
    display: block;
    background-position: left bottom;
}

.star_4:before{
    width:80%;
}

@media(max-width:768px){
    .l_sidebar{
        width: auto;
        float:none;
        margin-left:0;
        margin-bottom:10px;
    }
}


/*mobile*/
@media(max-width:480px){
    .course-cover{
        text-align: center;
    }
    .course-creater{
        float:none;
        margin:0;
        width:auto;
        text-align: center;
    }
    .curriculum-link span{
        display:none;
    }
}